body {
    font-family: 'Pretendard', sans-serif;
}
.answers-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.answers-column {
    width: 48%;
}
table {
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.7em; /* smaller font size */
    font-weight: bold; /* bold text */
}
th, td {
    border: 1px solid black;
    padding: 5px; /* smaller padding */
}
