body {
    background-color: #f5f8fa;
    color: #14171a;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2, h3, h4 {
    color: #14171a;
    text-align: left; /* 추가 */
}

input, textarea, button {
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input::placeholder, textarea::placeholder {
    color: #657786;
}

button {
    background-color: #1da1f2;
    color: white;
    cursor: pointer;
    border-radius: 0; /* 추가 */
}

button:disabled {
    background-color: #aac9f1;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

.no-border {
    border: none;
    box-shadow: none;
}

.form {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group input, .input-group textarea {
    flex-grow: 1;
    margin-right: 10px;
    text-align: left; /* 추가 */
}

#new-question-title, #edit-question-title {
    margin-bottom: 10px;
}

#new-question-content, #edit-question-content {
    height: 200px;
    resize: none;
}

#new-question-form .submit, #edit-question-form .submit {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.question, .answer {
    padding: 20px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.question-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.question-author {
    font-weight: bold;
    color: #1da1f2;
}

.separate-answer {
    margin-top: 10px;
    margin-bottom: 20px;
}

.edit, .delete {
    margin-right: 10px;
    background-color: white;
    color: #1da1f2;
    box-shadow: none;
    font-size: 0.8em;
    border-radius: 0; /* 추가 */
}

.modal {
    display: none;
}
