:root {
    --primary-color: #1da1f2;
    --secondary-color: #14171a;
    --placeholder-color: #657786;
    --disabled-color: #aac9f1;
    --background-color: #f5f8fa;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family: 'Pretendard', sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

h2, h3, h4 {
    color: var(--secondary-color);
}

#h4-answer {
    margin-left: 5px;
}

.my-img-container {
    position: relative;
    max-width: 100%;
    height: 20vh;
    overflow: hidden;
}

.blur-bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(2.5px);
    z-index: -1;
}

.my-img-text {
    position: relative;
    z-index: 1;
}

.h1-on-img {
    text-align: center;
    padding: 30px 0px 0px 0px;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
}

.p-on-img {
    text-align: center;
    padding: 0px 0px 150px 0px;
    font-size: 0.83em;
    color: white;
}

input {
    border: none;
    padding: 10px;
    outline: none;
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    border: none;
    padding: 10px 80px 300px 10px;
    outline: none;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

#new-answer {
    padding: 10px;
}

input::placeholder, textarea::placeholder {
    color: var(--placeholder-color);
}

button {
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

button:disabled {
    background-color: var(--disabled-color);
}

.button-group {
    display: flex;
    justify-content: flex-start;
}

.button-group .submit {
    margin-left: auto;
}

.button-text {
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    padding: 0;
    box-shadow: none;
    transition: color 0.3s;
    margin-bottom: 20px;
}

.button-text:hover {
    color: #1a91da;
}

.button-text:active {
    color: #0d5b8a;
}

#button-get-questions {
    margin-left: 5px;
    margin-top: 25px;
}

.no-border {
    border: none;
    box-shadow: none;
}

.form {
    margin-bottom: 20px;
}

.input-group {
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.input-group input, .input-group textarea {
    -webkit-appearance: none;  /* This line disables the default Safari styling */
    flex-grow: 1;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: auto;
    border-radius: 0px;
    background-color: transparent;
}

.input-group textarea {
    height: 5em;
}

.question-title {
    font-weight: bold;
}

.question-date, .answer-date {
    font-size: 0.75em;
    color: grey;
}

.question-contents {
    font-size: 0.9em;
    color: rgb(55, 55, 55);
}

.answer-text {
    font-size:0.85em;
    color: rgb(55, 55, 55);
}

.question-box {
    padding: 20px;
    background-color: #00000015;
}

.detail-view {
    background-color: transparent;
}

#board-title {
    text-align: center;
}

#create-answer-button {
    width: 3.9em;
    height: 3.75em;
    border-radius: 0px;
    box-shadow: none;
}

#new-question-content textarea {
    height: 12.5em;
}

#new-answer-form {
    border: none;
    display: flex;
    align-items: center;
}

#new-answer {
    height: 3.75em;
    border-bottom: none;
    background-color: #00000015;
    flex-grow: 1;
}

#new-question-title {
    border-bottom: 1px solid #ccc;
}

#new-question-form {
    margin-top: 30px;
    padding: 10px;
    background-color: #00000015;
}

#edit-question-title {
    margin-bottom: 10px;
}

#new-question-content, #edit-question-content {
    height: 45px;
}

#new-question-form .submit {
    right: 20px;
    bottom: 20px;
}

#edit-question-form {
    border: 1.5px solid #888;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

#edit-question-form input {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#edit-question-submit {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#community-guidelines-section {
    margin: 30px 0;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

#community-guidelines-section {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

#community-guidelines-content {
    font-size: 0.8em;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#toggle-guidelines-button {
    border-radius: 0px;
    display: block;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
}

#toggle-guidelines-button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

#community-guidelines-content {
    margin-top: 15px;
}

#pagination {
    width: 100%;
}

/* Pagination Styles */
#pagination, #answers-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#pagination button, #answers-pagination button {
    background: none;
    border: none;
    color: grey;
    font-size: 10px;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: none;
}

.question, .answer {
    padding: 20px 20px 0px 20px;
    background-color: transparent;
    border-bottom: 10px solid #ffffff;
}

.question-header, .answer-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.question-author, .answer-author {
    font-weight: bold;
    font-size: 0.75em;
    color: rgb(170, 170, 170);
    align-self: flex-start;
}

.answer-content {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.separate-answer {
    margin-top: 10px;
    margin-bottom: 20px;
}

.edit, .delete {
    margin-right: 10px;
    background-color: transparent;
    color: var(--primary-color);
    box-shadow: none;
    font-size: 0.8em;
    transition: color 0.3s, font-weight 0.3s;
}

.edit:hover, .delete:hover {
    color: #1a91da;
    font-weight: bold;
}

.board-wrapper {
    background-color: rgba(0, 0, 0, 0.1);
}

.modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    padding-top: 100px; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
