body {
    font-family: Pretendard, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    min-width: 450px;
}

@keyframes beat {
    0% { transform: scale(1); }
    25% { transform: scale(1.05); }
    50% { transform: scale(1); }
    75% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

#nav-title {
    font-size: 1.5rem !important; 
    font-weight: bold !important;
    letter-spacing: 0.05em !important; 
    text-transform: uppercase !important;
    color: white; /* 흰색으로 설정 */
    transition: color 0.3s ease; /* 색상 변화에 애니메이션 적용 */
}

#nav-title:hover {
    color: white; /* 마우스 오버 시 색상을 흰색으로 유지 */
    animation: beat 0.5s infinite; /* beat 애니메이션을 0.5초 간격으로 무한 반복 */
}

#nav-title a:hover, #mobile-title a:hover {
    color: white; /* hover시에도 텍스트 색상을 흰색으로 유지 */
    text-decoration: none; /* 밑줄 제거 */
}

#desktop-nav, #mobile-nav {
    background-color: #333;
    color: #fff;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

#mobile-nav-header {
    flex-grow: 1; /* 네비게이션 바의 가용 공간을 채우도록 함 */
    text-align: center; /* 타이틀을 가운데에 배치 */
}

#mobile-title a {
    font-weight: bold; /* 타이틀을 두껍게 만듦 */
    color: white; /* 텍스트 색상을 흰색으로 변경 */
    font-size: 1.5rem !important;
}

nav h2 {
    margin: 0;
    color: #fff;
    line-height: 1;
}

nav h2 a {
    color: #fff;
    text-decoration: none;
}

nav div a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    color: #fff;
    line-height: 1;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fe6969;
    text-decoration: none;
}

nav ul .active a {
    color: #ff6347;
    text-decoration: none;
}

.content {
    display: contents;
    background-color: #fff;
}

#nav-user {
    font-size: 75%;
    font-weight: bold;
    color: #9c9b9b;
}

#nav-login:hover, #nav-logout:hover {
    font-size: 90%;
    transition: color 0.3s ease;
    color: #ff6347;
}

#desktop-nav-links-left,
#desktop-nav-links-right {
    display: flex;
    gap: 30px;
    margin-top: 15px;
    align-items: center;
}

body #hamburger-btn {
    color: #fff !important;
    font-size: 1.5em !important;
    display: contents;
}

#side-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0;
    width: 60%;
    height: 100vh;
    background-color: #333333ec;
    padding: 1rem;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
    z-index: 1000;
}

#mobile-nav-links-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    gap: 60px
}

#mobile-nav-links-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 35%;
    gap: 10px
}

@media (max-width: 600px) {
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: flex;
        box-sizing: unset;
    }
}

@media (min-width: 601px) {
    #mobile-nav {
        display: none;
    }
    #desktop-nav {
        display: flex;
        box-sizing: unset;
    }
}

#side-nav.visible {
    transform: translateX(0);
    visibility: visible;
    font-size: 1.2em;
}

#side-nav ul {
    flex-direction: column;
}

footer.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 0.8em;
}

footer a:hover {
    transition: color 0.3s ease;
    color: #ff6347;
}
