body {
    font-family: Pretendard, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

@keyframes beat {
    0% { transform: scale(1); }
    25% { transform: scale(1.1); }
    50% { transform: scale(1); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#nav-title {
    font-size: 1.5rem; 
    font-weight: bold;
    letter-spacing: 0.05em; 
    text-transform: uppercase;
    color: white; /* 흰색으로 설정 */
    transition: color 0.3s ease; /* 색상 변화에 애니메이션 적용 */
}

#nav-title:hover {
    color: white; /* 마우스 오버 시 색상을 흰색으로 유지 */
    animation: beat 0.5s infinite; /* beat 애니메이션을 0.5초 간격으로 무한 반복 */
}

#desktop-nav, #mobile-nav {
    background-color: #333;
    color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobile-nav-header {
    flex-grow: 1; /* 네비게이션 바의 가용 공간을 채우도록 함 */
    text-align: center; /* 타이틀을 가운데에 배치 */
}

#mobile-title {
    font-weight: bold; /* 타이틀을 두껍게 만듦 */
    color: white; /* 텍스트 색상을 흰색으로 변경 */
}

#title {
    font-weight: bold; /* 타이틀을 두껍게 만듦 */
    color: white; /* 텍스트 색상을 흰색으로 변경 */
}

nav h2 {
    margin: 0;
    color: #fff;
    line-height: 1;
}

nav h2 a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav ul li {
    color: #fff;
    line-height: 1;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ddd;
}

nav ul .active a {
    color: #ff6347;
}

.content {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#nav-user {
    font-size: 75%;
    font-weight: bold;
    color: #9c9b9b;
}

nav #nav-links-left {
    display: flex;
    gap: 20px;
}

#hamburger-btn {
    position: fixed;
    top: 30px;
    right: 15px;
    color: #fff;
    font-size: 1.2em;
    background-color: #999;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#side-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0;
    width: 60%;
    height: 100vh;
    background-color: #333333ec;
    padding: 1rem;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
    z-index: 1000;
}

@media (max-width: 600px) {
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: flex;
    }
}

#side-nav.visible {
    transform: translateX(0);
    visibility: visible;
    font-size: 1.2em;
}

#nav-links-left {
    margin-top: 10px;
    margin-bottom: 10px;
}

#nav-login:hover, #nav-logout:hover {
    transition: color 0.3s ease;
    color: #ff6347;
}

@media (min-width: 601px) {
    #mobile-nav {
        display: none;
    }
    #desktop-nav {
        display: flex;
    }
}

#side-nav ul {
    flex-direction: column;
    gap: 1rem;
}

footer.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

footer a:hover {
    transition: color 0.3s ease;
    color: #ff6347;
}
