body {
    font-family: 'Pretendard', sans-serif;
    background-color: #f8f9fa;
}

h1.text-center {
    font-size: 8vw;
}

h1.display-4 {
    font-size: 6vw;
    font-weight: bold;
    padding-bottom: 150px;
}

.my-img-container {
    position: relative;
    max-width: 100%;
    height: 20vh;
    min-height: 450px;
    overflow: hidden;
}

.blur-bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(1.5px);
    z-index: -1;
}

.my-img-text {
    position: relative;
    z-index: 1;
}

.arrow-down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-down span {
    display: block;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    margin: 5px;
    animation: arrowDown 0.6s infinite;
}

@keyframes arrowDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

@keyframes animate-text {
    0% {
        transform: scale(20);
        letter-spacing: 12px;
    }
    100% {
        transform: scale(1);
        letter-spacing: normal;
    }
}

.animate-h1 {
    animation: animate-text 2s forwards;
}

.h1-on-img {
    text-align: center;
    padding: 150px 0px 0px 0px;
    font-weight: bold;
    font-size: 2em;
    white-space: nowrap;
}

.p-on-img {
    text-align: center;
    padding: 0px 0px 150px 0px;
    font-size: 1em;
}

@media screen and (max-width: 600px) {
    .h1-on-img {
        font-size: 1.6em;
    }
}

.col-lg-4 p {
    font-size: 0.85rem;
    line-height: 1.5;
    color:#ffa9a9
}

.col-lg-4 i {
    color: #ffa9a9;
}

.col-lg-4 h5 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fa7272;
}

.container .card {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.container .card h5 {
    color: #fa7272;
}

.container .card p {
    color: #6C757D;
}

.btn-primary {
    background-color: #fa7272;
    border: none;
}

.btn-primary:hover {
    background-color: #d74444;
}
