body {
    font-family: 'Pretendard', sans-serif;
    background-color: #f8f9fa;
}

h1.text-center {
    font-size: 8vw;
}

h1.display-4 {
    font-size: 6vw;
    color: #007BFF;
}

.container .jumbotron {
    background-color: #ffffff;
}

.container .card {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.container .card h5 {
    color: #007BFF;
}

.container .card p {
    color: #6C757D;
}

.btn-primary {
    background-color: #007BFF;
    border: none;
}

@media (min-width: 992px) {
    h1.text-center,
    h1.display-4 {
        font-size: 2.5rem; /* 뷰포트 폭이 992px 이상일 때는 고정 크기를 사용
