body {
    font-family: 'Pretendard', sans-serif;
    background-color: #f8f9fa;
}

h1.text-center {
    font-size: 8vw;
}

h1.display-4 {
    font-size: 6vw;
    font-weight: bold;
    padding-bottom: 150px;
}

.jumbotron {
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.container .jumbotron {
    background-color: #ffffff;
}

.col-lg-4 p {
    font-size: 0.85rem;
    line-height: 1.5;
    color:rgb(129, 129, 129)
}

.col-lg-4 i {
    color: #2c2c2c;
}

.col-lg-4 h5 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #2c2c2c;
}

.container .card {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.container .card h5 {
    color: #007BFF;
}

.container .card p {
    color: #6C757D;
}

.btn-primary {
    background-color: #1da1f2;
    border: none;
}

@media (min-width: 992px) {
    h1.text-center,
    h1.display-4 {
        font-size: 2.5rem; /* 뷰포트 폭이 992px 이상일 때는 고정 크기를 사용
