#button-container {
    display: flex;
    flex-direction: row; /* 요소들이 가로 방향으로 배치되도록 설정 */
    justify-content: space-evenly; /* 요소들 사이에 균일한 공간을 만듭니다 */
    align-items: center; /* 요소들을 컨테이너의 중앙에 배치합니다 */
    margin-top: 20px;
}

#generate-mocktest-btn {
    font-size: 0.8em;
    font-weight: 200;
    background-color: #ff5a1e; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#generate-mocktest-btn:hover {
    background-color: #fa8256;
}
#generate-mocktest-btn:active {
    background-color: #c24417;
}

#new-test-btn, #start-test-btn, #grade-test-btn {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 200;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#new-test-btn, #grade-test-btn {
    background-color: #f09d9b; 
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#start-test-btn {
    background-color: #6fae70; 
    animation: heartbeat 2s infinite;
}

#new-test-btn:hover, #start-test-btn:hover, #grade-test-btn:hover {
    background-color: #56a8f9;
}

#new-test-btn:active, #start-test-btn:active, #grade-test-btn:active {
    background-color: #047ff9;
}

.my-img-container {
    position: relative;
    max-width: 100%;
    height: 20vh;
    min-height: 200px;
    overflow: hidden;
}

.blur-bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    z-index: -1;
}

.my-img-text {
    position: relative;
    z-index: 1;
}

.h1-on-img {
    text-align: center;
    padding: 30px 0px 0px 0px;
    font-weight: bold;
    font-size: 2em;
    color: #ff5a1e;
}

.p-on-img {
    text-align: center;
    padding: 0px 0px 150px 0px;
    font-size: 0.83em;
}

.test-info {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    background-color: #80808021;
    font-size: 0.9em;
    font-weight: 200;
    color: gray;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.flex-item {
    width: 45%;
}

.test-info h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 20px;
}

.test-info p {
    font-size: 0.8em;
    color: #555;
    line-height: 1.6;
    text-align: left;
}

.test-info p strong {
    color: #333;
    font-weight: bold;
}

.test-info ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #8c8c8c;
    text-align: left;
}

.test-info ul li {
    margin-bottom: 10px;
    font-size: 0.8em;
}

@media (max-width: 600px) {
    .flex-container {
      flex-direction: column;
    }
  
    .flex-item {
      width: 100%;
    }

    .flex-item:first-child {
        border-bottom: 1px solid #ccc;
    }
}

.additional-info {
    border-top: 1px solid #80808052;
    font-size: 0.75em;
    color: #555;
    padding-bottom: 40px;
}

.control-group {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    background-color: #e9d9be;
}

.question-container {
    display: none;
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 100%;
    height: auto;
    border: 1px solid #000; /* 얇은 선으로 테두리를 만듭니다. 색상은 원하는 대로 조정하실 수 있습니다. */
    border-radius: 5px; /* 모서리를 둥글게 만듭니다. */
    padding: 10px; /* 내부 패딩을 추가하여 테두리와 내용 사이에 간격을 만듭니다. 필요에 따라 조정하실 수 있습니다. */
}

.choice-box {
    padding-bottom: 20px;
}

#question-area {
    justify-content: center;
    position: relative;
    width: 75%; /* 이 값을 조정해서 원하는 너비를 설정하세요. */
    margin: 0 auto; /* 이 속성이 문제 영역을 화면 중앙에 배치합니다. */
    text-align: left; /* 이 속성이 문제 영역 내의 모든 텍스트를 왼쪽 정렬합니다. */
}

#test-info-msg {
    padding-bottom: 20px;
    background-color: #e9d9be;
    color: #f09898;
    font-weight: 300;
}

#test-result {
    margin-top: 20px;
    background-color: rgb(229, 228, 228);
    padding: 10px;
    font-size: 1.3em;
    font-weight: 200;
    color: #ca7171;
    justify-content: center;
}

.form-group > p {
    font-weight: 200;
}

.form-group > label {
    justify-content: center;
    font-size: 0.8em;
    margin-bottom: 0;
}

.time-taken{
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: #ff8484;
    background-color: #cafeb3;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 화면 크기가 600px 이하일 때 적용 */
@media screen and (max-width: 600px) {
    #question-area {
        width: 100%;
    }
}

#prev-next-button {
    text-align: center;  /* 버튼들을 가운데로 정렬 */
    justify-content: center;
}

#prev-question-btn, #next-question-btn {
    color: #5b7fc8;
    display: inline-block;
    background: transparent;  /* 버튼 배경을 투명하게 */
    border: none;  /* 버튼 테두리 제거 */
    font-size: 0.85em;
    font-weight: bold;
}

#prev-question-btn:hover, #next-question-btn:hover {
    color: #ea5b19;
}

#col-12 col-md-6 {
    padding-left: 30px;
    padding-right: 30px;
}


.pagination-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-gap: 5px; /* 이 값을 줄여 간격을 좁히세요. */
    justify-content: center; /* 이 속성이 요소를 화면 중앙에 배치합니다. */
    width: fit-content; /* 이 속성이 요소의 너비를 내용에 맞게 조정합니다. */
    margin: 0 auto; /* 이 속성이 요소를 화면 중앙에 배치합니다. */
    font-size: .8em;;
    padding-top: 30px;
    padding-bottom: 20px;
}

.pagination-button {
    text-align: center;
}

.pagination-button i {
    color: gray;
}

.pagination-number {
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 4px;
    display: inline-block;
    margin: 2px;
}

.pagination-number-active {
    background: rgb(119, 119, 119);
    color: white;
}

.correct {
    background-color: rgb(101, 201, 101);
}

.incorrect {
    background-color: rgb(255, 109, 109);
}

.report-btn {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background: none;
    border: none;
    color: #656565;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 1rem;
}

.report-btn:hover {
    color: #ff0000;
}

.favourite-btn {
    position: absolute;
    bottom: 10px;
    left: 20px;
    background: none;
    border: none;
    color: #656565;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 1rem;
}

.favourite-btn:hover {
    color: #ff0000;
}

.favourite-btn.fav {
    color: red;  /* 즐겨찾기가 활성화된 버튼은 빨간색으로 표시 */
}
