:root {
    --primary-color: #f87272;
    --secondary-color: #14171a;
    --placeholder-color: #657786;
    --disabled-color: #ffd5d5;
    --hover-color: #df3e3e;
    --background-color: #f5f8fa;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family: 'Pretendard', sans-serif;
}

#side-btn-mynote a {
    color: rgb(255, 77, 0);
}

.row {
    max-width: 1000px;
    margin: 0 0 0 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.container-info{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.7;
  font-weight: normal;
  color: black;
  background-color: #ffe5e5;
  width: 100%;
  text-align: justify;
}

.p-guide-text{
  font-size: 0.75em;
  font-weight: 200;
  color: gray;
  margin-bottom: 0;
  line-height: 1.6;
}

.p-result-text {
    font-size: .9rem;
    font-weight:bold;
}
  
#question-area {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* 데스크톱 버전 스타일 */
.lnb {
  padding-top: 40px;
  background-color: #f1b9b9b5;
  height: 100%; /* 화면 위아래 꽉 차게 */
  list-style-type: none; /* 점 제거 */
  font-size: .8em;
}

.lnb ul {
  padding: 0; /* 패딩 제거 */
  font-size: .9em; /* 폰트 크기 조정 */
  text-align: center; /* 가운데 정렬 */
  font-weight: bold; /* 볼드체 */
  list-style-type: none; /* 점 제거 */
}

.lnb li {
  height: 60px; /* 높이 고정 */
}

.lnb a {
  display: flex; /* 블록 요소로 만들어 클릭 영역 확장 */
  align-items: center;
  justify-content: center;
  padding: 10px 15px; /* 패딩 추가 */
  color: #333; /* 글자색 */
  text-decoration: none; /* 밑줄 제거 */
  height: inherit; /* 높이 상속 */
}

.lnb a:hover {
  background-color: #ffffffc6; /* 마우스 호버시 배경색 변경 */
}

/* 모바일 버전 스타일 */
@media (max-width: 600px) {
    #side-btn-mynote a {
        color: #333333;
        border-bottom: 3px solid #fa7878;
        font-weight: 600;
    }

    .col-12 {
        padding-left: 0;
        padding-right: 0;
    }
    
    .row {
        width: 100%;
        margin: 0 0 0 0;
    }
    
    .lnb {
        height: auto;
        padding-top: 0;
        margin-top: 0;
    }

    .lnb ul {
        display: flex; /* 항목들을 가로로 배치 */
        flex-direction: row; /* 추가된 코드 */
        justify-content: space-around; /* 추가된 코드 */
        list-style-type: none;
        background-color: white;
        font-weight: 400;
    }

    .lnb li {
        border-bottom: none; /* 구분선 제거 */
        border-right: none; /* 오른쪽 구분선 제거 */
        flex: 1; /* 항목들의 너비를 균등하게 */
        text-align: center;
    }
}

.report-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: none;
    border: none;
    color: #c2c1c1;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 1rem;
}

.report-btn:hover {
    color: #ff4a4a;
}

.favourite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #c2c1c1;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 1rem;
}

.favourite-btn:hover {
    color: #ff4a4a;
}

.favourite-btn.fav {
    color: red;  /* 즐겨찾기가 활성화된 버튼은 빨간색으로 표시 */
}

.p-question-text {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.choice-box {
    padding-bottom: 20px;
    font-weight: bold;
}

.question-container {
    position: relative;
    text-align: left;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.icon-button {
    position: absolute;
    bottom: 10px;
    background: none;
    border: none;
    color: #656565;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 1rem;
}

.icon-button:hover {
    color: #ff0000;
}

.icon-button.fav {
    color: red;
}

.additional-info {
    font-size: 0.8em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-top: 1px solid #ddd;
    display: none;  /* 초기에는 해석, 해설, 단어 부분을 숨깁니다 */
}

.result-message {
    font-weight: bold;
    margin: 10px 0;
}

.result-message.correct {
    color: green;
}

.result-message.wrong {
    color: red;
}

#graph-container {
    padding-top: 20px;
    display: block;
    width: 65%;
    margin: auto;
}

@media (max-width: 600px) {
    #graph-container {
        width: 70%;
    }
}

#my-tests {
    display: grid;
    padding-left: 25px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.test-container {
    box-shadow: 0 4px 8px 0 rgb(255 103 103 / 20%), 0 6px 20px 0 rgba(255 158 158 / 15%);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform .2s;
    box-sizing: border-box; 
    max-width: 170px;
    max-height: 170px;
    min-width: 170px;
    min-height: 170px;
}

.test-container:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease;
}

.test-content {
    color: #f87171;
    padding-top: 5px;
}

.test-container p {
    text-align: center;
    font-size: 0.75em;
    margin-bottom: 0;
}

.test-container strong {
    font-size: 1em;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    bottom: 0;
    top: 20%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    overflow: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 100%;
        height: 80%; 
        margin: auto 0;
    }
    #my-tests {
        grid-template-columns: repeat(2, 1fr);
    }
    .test-container {
        max-width: 150px;
        max-height: 150px;
        min-width: 150px;
        min-height: 150px;
        padding-top: 0px;
    }
}

/* For larger screens, adjust the number of columns */
@media screen and (min-width: 600px) {
    .modal-content {
        max-width: 800px;
        height: 60%; 
        margin: auto 0;
    }
    #my-tests {
        grid-template-columns: repeat(3, 1fr);
    }
}
