:root {
    --primary-color: #1da1f2;
    --secondary-color: #14171a;
    --placeholder-color: #657786;
    --disabled-color: #aac9f1;
    --background-color: #f5f8fa;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family: 'Pretendard', sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.my-img-container {
    position: relative;
    max-width: 100%;
    height: 13vh;
    min-height: 130px;
    overflow: hidden;
}
  
.blur-bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(0.5px);
  z-index: -1;
}
  
.my-img-text {
  position: relative;
  z-index: 1;
}
  
.h1-on-img {
  text-align: center;
  padding: 50px 0px 0px 0px;
  font-weight: bold;
  font-size: 1.5em;
  color: #393939;
}
