body {
  font-family: 'Pretendard', sans-serif;
  background-color: #f4f4f4;
}

.question-container {
  text-align: left;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: .5rem;
}

.text-muted {
  text-align: right;
  color: #888;
}

.text-center {
  text-align: center;
  margin-top: 1rem;
}

.container-info{
  background-color: #ff00002f;
  width: 90%;
}

.p-guide-text{
  font-size: 0.7em;
  color: gray;
}

input[type="radio"] {
  margin-right: 0.5rem;
}

#submit-answers {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#submit-answers:hover {
  background-color: #0056b3;
}

#score {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007BFF;
  margin-bottom: 1rem;
}

#answer-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

#answer-table th {
  padding: 1rem;
  background-color: #007BFF;
  color: #fff;
}

#answer-table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

#answer-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.my-img-container {
  position: relative;
  max-width: 100%;
  height: 13vh;
  min-height: 130px;
  overflow: hidden;
}

.blur-bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(1.5px);
  z-index: -1;
}

.my-img-text {
  position: relative;
  z-index: 1;
}

.h1-on-img {
  text-align: center;
  padding: 50px 0px 0px 0px;
  font-weight: bold;
  font-size: 2em;
  color: #000000;
  text-shadow: 0.3px 0.3px 5px white;
}

#p5-questions-test{
  margin-top: 25px;
}
