body {
  font-family: 'Pretendard', sans-serif;
  background-color: #f4f4f4;
}

#mocktest-area {
  display: none;
}

#timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);  /* Semi-transparent white */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); /* Shadow effect */
}

#timer-display {
  font-family: 'Courier New', monospace;
}

#timer-container button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 30px;
  background-color: #848484;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

#timer-container button:hover {
  background-color: #1f1f1f;
}

#timer-display {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

#start-test-btn-container{
  padding-bottom: 10px;
}

#start-test-btn-container button {
  color: white;
  background-color: #007BFF;
  border-radius: 5px;
  border: none;
}

#start-test-btn-container button:hover {
  background-color: #0056b3;
}

.icon-button {
  background: none;
  border: none;
  color: #008CBA;
  order: -1;
}

.icon-button:hover {
  color: #0056b3;
}

.question-container {
  position: relative;
  text-align: left;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: .5rem;
}

.text-muted {
  text-align: right;
  color: #888;
}

.text-center {
  text-align: center;
  margin-top: 1rem;
}

.container-info{
  display: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 20px;
  line-height: 1.7;
  font-weight: normal;
  color: black;
  background-color: #ceffcb;
  width: 100%;
  text-align: justify;
}

.p-guide-text{
  font-size: 0.75em;
  color: gray;
  margin-bottom: 0;
  line-height: 1.6;
}

input[type="radio"] {
  margin-right: 0.5rem;
}

#submit-answers {
  display: none;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#submit-answers:hover {
  background-color: #0056b3;
}

.explanation-button {
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: .5rem;
  background-color: #fb2d68; /* Blue */
  color: white;
  text-decoration: none; /* Remove underline */
  font-size: 16px;
  transition: background-color 0.3s;
}

.explanation-button:hover {
  background-color: #0056b3;
  color: white;
}

#score {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007BFF;
  margin-bottom: 1rem;
}

#answer-table {
  display: none;
  font-size: .9em;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

#answer-table th {
  padding: 1rem;
  background-color: #007BFF;
  color: #fff;
}

#answer-table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

#answer-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.my-img-container {
  position: relative;
  max-width: 100%;
  height: 13vh;
  min-height: 130px;
  overflow: hidden;
}

.blur-bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(1.5px);
  z-index: -1;
}

.my-img-text {
  position: relative;
  z-index: 1;
}

.h1-on-img {
  text-align: center;
  padding: 50px 0px 0px 0px;
  font-weight: bold;
  font-size: 1.8em;
  color: #000000;
  text-shadow: 0.3px 0.3px 5px white;
}

#p5-questions-test{
  margin-top: 25px;
}

.report-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #656565;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 1rem;
}

.report-btn:hover {
  color: #ff0000;
}

.favourite-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: none;
  border: none;
  color: #656565;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 1rem;
}

.favourite-btn:hover {
  color: #ff0000;
}

.favourite-btn.fav {
  color: red;
}
