body {
  font-family: 'Pretendard', sans-serif;
}

.container-test {
  max-width: 800px;
  margin: 0 auto;
}

.question-container {
  text-align: left;
}

.text-muted {
  text-align: right;
}

.text-center {
  text-align: center;
}
