body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h2 {
    color: #333;
}

nav {
    padding: 20px 0;
}

nav h2 {
    margin: 0;
    padding: 0 20px;
    float: left;
    color: #333; /* 네비게이션 바 타이틀 색상 변경 */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333; /* 메뉴 아이템 색상 변경 */
    text-decoration: none;
}

.content {
    clear: both;
    padding: 20px;
}
