body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h2 {
    color: #333;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    line-height: 60px;
}

nav h2 {
    margin: 0;
    padding: 0 20px;
    float: left;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    line-height: 60px; /* 이 부분을 추가했습니다. */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    clear: both;
    padding: 20px;
}
