:root {
    --primary-color: #f87272;
    --secondary-color: #14171a;
    --placeholder-color: #657786;
    --disabled-color: #fcd3d3;
    --background-color: #f5f8fa;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family: 'Pretendard', sans-serif;
}

#side-btn-mydetail a {
    color: rgb(255, 77, 0);
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
}

.my-img-container {
    position: relative;
    max-width: 100%;
    height: 13vh;
    min-height: 130px;
    overflow: hidden;
}
  
.blur-bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(0.5px);
  z-index: -1;
}
  
.my-img-text {
  position: relative;
  z-index: 1;
}
  
.h1-on-img {
  text-align: center;
  padding: 50px 0px 0px 0px;
  font-weight: bold;
  font-size: 1.5em;
  color: #393939;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: #d5d5d5;
    border-radius: 20px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: .9em;
    text-indent: 10px;
}

.form-control:disabled {
    color: gray;
}

.form-control::placeholder {
    color: var(--placeholder-color);
}

.btn {
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.btn-success {
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
}

/* 데스크톱 버전 스타일 */
.lnb {
    padding-top: 40px;
    background-color: #f1b9b9b5;
    height: 100%; /* 화면 위아래 꽉 차게 */
    list-style-type: none; /* 점 제거 */
}

.lnb ul {
    padding: 0; /* 패딩 제거 */
    font-size: .9em; /* 폰트 크기 조정 */
    text-align: center; /* 가운데 정렬 */
    font-weight: bold; /* 볼드체 */
    list-style-type: none; /* 점 제거 */
}

.lnb li {
    height: 60px; /* 높이 고정 */
}

.lnb a {
    display: flex; /* 블록 요소로 만들어 클릭 영역 확장 */
    align-items: center;
    justify-content: center;
    padding: 10px 15px; /* 패딩 추가 */
    color: #333; /* 글자색 */
    text-decoration: none; /* 밑줄 제거 */
    height: inherit; /* 높이 상속 */
}

.lnb a:hover {
    background-color: #ffffffc6; /* 마우스 호버시 배경색 변경 */
}

/* 모바일 버전 스타일 */
@media (max-width: 600px) {
    .lnb {
        height: auto;
        padding-top: 0;
        margin-top: 5px
    }

    .lnb ul {
        display: flex; /* 항목들을 가로로 배치 */
        flex-direction: row; /* 추가된 코드 */
        justify-content: space-around; /* 추가된 코드 */
        list-style-type: none;
    }

    .lnb li {
        border-bottom: none; /* 구분선 제거 */
        border-right: none; /* 오른쪽 구분선 제거 */
        flex: 1; /* 항목들의 너비를 균등하게 */
        text-align: center;
    }
}
