:root {
    --primary-color: #f87272;
    --secondary-color: #14171a;
    --placeholder-color: #657786;
    --disabled-color: #ffd5d5;
    --hover-color: #df3e3e;
    --background-color: #f5f8fa;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family: 'Pretendard', sans-serif;
}

.my-img-container {
    position: relative;
    max-width: 100%;
    height: 20vh;
    min-height: 200px;
    overflow: hidden;
}

.blur-bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(0.5px);
    z-index: -1;
}

.my-img-text {
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 1;
}

.h1-on-img {
    text-align: left !important;
    padding: 35px 0px 0px 0px;
    margin-bottom: 0 !important;
    font-weight: bold;
    font-size: 1.7em;
    color: #000000;
}

.p-on-img {
    text-align: left;
    font-size: 1.2em;
    font-weight: 200;
    color: #555555;
}

#voca-test-container {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voca-container {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgb(255 103 103 / 20%), 0 6px 20px 0 rgba(255 158 158 / 15%);
}

.voca-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.voca-container button {
    text-align: left;
    font-size: .8em;
    font-weight: 200;
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid darkgray;
}

#voca-test-info-text{
    text-align: center;
    font-size: .8em;
    font-weight: 400;
    color: #fb4a4a;
}

#voca-test-container > button {
    align-self: center;
    background-color: #4f4f4f;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 400;
    color: #ffab32;
}

#voca-test-container h3 {
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}

@media (max-width: 600px) {
    .voca-container {
        width: 90%;
    }
}