<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>모의고사 정답</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/variable/pretendardvariable-dynamic-subset.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/answers.css') }}">
</head>
<body>
    <h2 class="text-center">{{ test_level }} TOEIC Part 5 모의고사 정답</h2>
    <small class="text-center">시험지 번호: {{ creation_time }}</small>
    <hr>
    <div class="answers-table">
        {% for i in range(0, len(answers), 15) %}
        <div class="answers-column">
            <table>
                <tr>
                    <th>문제 번호</th>
                    <th>정답</th>
                </tr>
                {% for idx, answer in enumerate(answers[i:i+15], start=i+101) %}
                <tr>
                    <td>{{ idx }}</td>
                    <td>{{ answer.AnswerText | join(', ') }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
    <hr>
    <footer class="text-center">
        <div><small>&copy; 모두의 토익 | Unauthorized distribution is strictly prohibited.</small></div>
        <div><small>모의고사 번호: {{ creation_time }}</small></div>
  </footer>
</body>
</html>
