{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h2>Q&A 게시판</h2>
        
        <!-- question creation form -->
        <form id="new-question-form" class="no-border form">
            <div class="input-group" id="new-question-title-group">
                <input type="text" id="new-question-title" placeholder="제목">
            </div>
            <div class="input-group" id="new-question-content-group">
                <textarea placeholder="내용을 입력하세요"></textarea>
            </div>
            <div class="button-group">
                <button type="button" id="create-question-button" class="submit">
                    작성하기
                </button>
            </div>
        </form>            

        <div id="board">
            <!-- each question will be added here. -->
        </div>

        <!-- section to show and create answers. initially hidden. -->
        <div id="answers-section" style="display: none;">
            <h4>답변</h4>

            <!-- answer creation form -->
            <form id="new-answer-form" class="no-border">
                <textarea id="new-answer" placeholder="댓글 입력"></textarea>
                <button type="button" id="create-answer-button" class="submit">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </form>

            <div id="answers">
                <!-- answers will be added here. -->
            </div>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="edit-question-form" class="no-border">
                    <div>
                        <label for="edit-question-title"></label>
                        <input type="text" id="edit-question-title">
                    </div>
                    <div>
                        <label for="edit-question-content"></label>
                        <textarea id="edit-question-content"></textarea>
                    </div>
                    <div>
                        <button type="button">
                            확인
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/board.js') }}"></script>
{% endblock %}
