<!DOCTYPE html>
<html>
<head>
    <title>Test Explanations</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        {% for idx, explanation in enumerate(explanations, start=101) %}
        <div class="col-md-6">
            <p><strong>{{ idx }}. [{{ explanation.sub_type }}]</strong></p>
            <p>질문 번역 : {{ explanation.translation }}</p>
            <p>정답 해설 : {{ explanation.explanation }}</p>
            <p>어휘 :</p>
            <ul>
                {% for voca in vocas %}
                <li>{{ voca["vocas"][0] }}: {{ voca["vocas"][1] }}</li>
                {% endfor %}
            </ul>
        </div>
        {% if loop.index % 2 == 0 %}
        </div><div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
</body>
</html>
