{% extends "layout.html" %}

{% block additional_css %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_page.css') }}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block body_top %}
<div id="my-img-container" class="my-img-container">
    <div class="blur-bg-image" data-bg-url="{{ url_for('static', filename='images/pinkbg-img1.jpg') }}"></div>
    <div class="my-img-text">
        <div class="header-text">
            <h1 class="h1-on-img animate-h1">토익 공부의 혁신! 모두의 토익!</h1>
            <p class="p-on-img">토익 입문자부터 고득점을 목표로 하는 학생까지, AI가 당신을 완벽히 이해합니다. 개인별 맞춤형 문제를 통해 실력 향상의 지름길을 제공! 지금 AI와 함께 당신의 토익 점수를 새 단계로 끌어올려보세요!</p>
        </div>
    </div>
    <div id="arrow" class="arrow-down">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<script>
    // 이미지의 URL을 가져와서 CSS 스타일로 적용합니다.
    var blurBgImage = document.querySelector('.blur-bg-image');
    var bgUrl = blurBgImage.getAttribute('data-bg-url');
    blurBgImage.style.backgroundImage = "url('" + bgUrl + "')";
</script>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row mb-5 text-center">
        <div class="col-lg-4 mb-md-0 mb-5" data-aos="fade-up">
            <i class="fas fa-pencil-alt fa-2x mb-2"></i>
            <h5>모의고사 생성</h5>
            <p>AI가 만든 토익 파트5 모의고사를 생성하고 풀어보세요.</p>
        </div>
        <div class="col-lg-4 mb-md-0 mb-5" data-aos="fade-up">
            <i class="fas fa-book-open fa-2x mb-2"></i>
            <h5>정답/해설 보기</h5>
            <p>푼 모의고사의 정답과 해설을 확인하세요.</p>
        </div>
        <div class="col-lg-4 mb-md-0 mb-5" data-aos="fade-up">
            <i class="fas fa-comments fa-2x mb-2"></i>
            <h5>Q&A 게시판</h5>
            <p>다른 사용자들과 모의고사 문제에 대한 의견을 나눠보세요.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-4 mx-auto">
            <a href="/part5/test" class="btn btn-primary btn-block" data-aos="fade-up">시작하기</a>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_script %}
    <script src="{{ url_for('static', filename='js/main_page.js') }}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
{% endblock %}
