{% extends "layout.html" %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mock_test.css') }}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2 style="text-align:center; margin-bottom: 2rem;" data-aos="fade-down" data-aos-duration="1000">AI 모의고사</h2>

    <div class="dropdown" data-aos="fade-up" data-aos-duration="1000">
        <select id="difficulty" class="select">
            <option value="">-- 난이도를 선택하세요 --</option>
            <option value="easy">초급</option>
            <option value="mid">중급</option>
            <option value="difficult">고급</option>
        </select>
        <button id="generate-btn" class="button">AI 모의고사 생성</button>
    </div>
    
    <div id="test-links" style="display: none; text-align: center;" data-aos="zoom-in" data-aos-duration="1000">
        <h3>AI 모의고사가 생성되었습니다!</h3>
        <div class="button-container">
            <a class="btn-link" id="questions-link" href="#" target="_blank">
                <div class="button">
                    <i class="fas fa-file-alt"></i>
                </div>
                문제지 보기
            </a>
            <a class="btn-link" id="answers-link" href="#" target="_blank">
                <div class="button">
                    <i class="fas fa-check-square"></i>
                </div>
                정답지 보기
            </a>
            <a class="btn-link" id="explanations-link" href="#" target="_blank">
                <div class="button">
                    <i class="fas fa-comment-dots"></i>
                </div>
                해설지 보기
            </a>
        </div>
    </div>    

    <div id="test-result" style="text-align: center;"></div>
{% endblock %}

{% block additional_script %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock %}
