{% extends "layout.html" %}

{% block additional_css %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/cal-heatmap/dist/cal-heatmap.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_learning_analysis.css') }}">
{% endblock %}

{% block body_top %}
<div id="my-img-container" class="my-img-container">
    <div class="blur-bg-image" data-bg-url="{{ url_for('static', filename='images/notebook-img1.jpg') }}"></div>
    <div class="my-img-text">
        <h1 class="h1-on-img" style="text-align:center; margin-bottom: 2rem;">내 학습 분석</h1>
    </div>
</div>
<script>
    // 이미지의 URL을 가져와서 CSS 스타일로 적용합니다.
    var blurBgImage = document.querySelector('.blur-bg-image');
    var bgUrl = blurBgImage.getAttribute('data-bg-url');
    blurBgImage.style.backgroundImage = "url('" + bgUrl + "')";
</script>
{% endblock %}

{% block content %}
<div class="row">
    <!-- LNB -->
    <div class="col-12 col-md-3 order-md-1">
        <div class="lnb">
            <ul>
                <li id="side-btn-mydetail"><a href="{{ url_for('main.user_detail') }}">내 정보</a></li>
                <li id="side-btn-myfav"><a href="{{ url_for('main.my_page') }}">찜한 문제</a></li>
                <li id="side-btn-mynote"><a href="{{ url_for('main.my_note') }}">오답노트</a></li>
                <li id="side-btn-my-learning-analysis"><a href="{{ url_for('main.my_learning_analysis') }}">학습 분석</a></li>
            </ul>
        </div>
    </div>

    <!-- Learning Analysis Contents -->
    <div class="col-12 col-md-9 order-md-2">
        <div class="content">
            <!-- Daily Study Activity -->
            <div id="div-daily-activity" class="div-analysis-card">
                <h5>일별 학습 활동</h5>
                <!-- Here goes the heatmap -->
                <div id="heatmap"></div>
            </div>
            <!-- Accuracy by Question Type -->
            <div id="div-accuracy-by-type" class="div-analysis-card">
                <h5>문제 유형별 정확도</h5>
                <!-- Here goes the chart or table -->
                <canvas id="canvas-accuracy-by-type"></canvas>
            </div>
            <!-- Accuracy and Time by Test -->
            <div id="div-time-by-type" class="div-analysis-card">
                <h5>문제 유형별 소요 시간</h5>
                <!-- Here goes the chart or table -->
                <canvas id="canvas-time-by-type"></canvas>
            </div>
            <!-- Weak Areas -->
            <div id="div-weak-areas" class="div-analysis-card">
                <h5>문제 난이도별 평균 성적</h5>
                <!-- Here goes the table -->
                <canvas id="canvas-weak-areas"></canvas>
            </div>
            <!-- Progress and Performance by Test -->
            <div id="div-progress-by-test" class="div-analysis-card">
                <h5>테스트별 진행상황 및 성과</h5>
                <!-- Here goes the timeline -->
                <canvas id="canvas-progress-by-test"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/cal-heatmap/dist/cal-heatmap.min.js"></script>
    <script src="{{ url_for('static', filename='js/my_learning_analysis.js') }}"></script>
{% endblock %}