{% extends "layout.html" %}

{% block additional_css %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_page.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_layout.css') }}">
{% endblock %}

{% block body_top %}
<div id="my-img-container" class="my-img-container">
    <div class="blur-bg-image" data-bg-url="{{ url_for('static', filename='images/notebook-img1.jpg') }}"></div>
    <div class="my-img-text">
        <h1 class="h1-on-img" style="text-align:center; margin-bottom: 2rem;">오답노트</h1>
    </div>
</div>
<script>
    // 이미지의 URL을 가져와서 CSS 스타일로 적용합니다.
    var blurBgImage = document.querySelector('.blur-bg-image');
    var bgUrl = blurBgImage.getAttribute('data-bg-url');
    blurBgImage.style.backgroundImage = "url('" + bgUrl + "')";
</script>
{% endblock %}

<div class="row">
    <div class="col-3">
        {% block lnb %}{% endblock %}
    </div>
    <div class="col-9">
        {% block content %}
        
        {% endblock %}
    </div>
</div>

{% block additional_script %}
    <script src="{{ url_for('static', filename='js/my_page.js') }}"></script>
{% endblock %}