{% extends "layout.html" %}

{% block additional_css %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/questions.css') }}">
{% endblock %}

{% block body_top %}
<div id="my-img-container" class="my-img-container">
    <div class="blur-bg-image" data-bg-url="{{ url_for('static', filename='images/answer-sheet-img2.jpg') }}"></div>
    <div class="my-img-text">
        <h1 class="h1-on-img" style="text-align:center; margin-bottom: 2rem;">{{ test_level }} TOEIC Part 5 모의고사</h1>
    </div>
</div>
<script>
    // 이미지의 URL을 가져와서 CSS 스타일로 적용합니다.
    var blurBgImage = document.querySelector('.blur-bg-image');
    var bgUrl = blurBgImage.getAttribute('data-bg-url');
    blurBgImage.style.backgroundImage = "url('" + bgUrl + "')";
</script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Render the left column questions -->
                <!-- Render the left column questions -->
                {% for question, choice in zip(questions_left, choices_left) %}
                <div class="question-container">
                    <p><strong><span class="question-number">{{ loop.index + 100 }}</span>. {{ question.QuestionText }}</strong></p>
                    <ol type="A">
                        {% for selection in choice["Choices"] %}
                        <li>
                            <input type="radio" class="answer-input" name="{{ question.QuestionId }}" value="{{ selection }}" data-question-id="{{ question.QuestionId }}">
                            {{ selection }}
                        </li>
                        {% endfor %}
                    </ol>
                    <small class="text-muted question-id" style="display: none;">{{ question.QuestionId }}</small>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <!-- Render the right column questions -->
                {% for question, choice in zip(questions_right, choices_right) %}
                <div class="question-container">
                    <p><strong><span class="question-number">{{ loop.index + 115 }}</span>. {{ question.QuestionText }}</strong></p>
                    <ol type="A">
                        {% for selection in choice["Choices"] %}
                        <li>
                            <input type="radio" class="answer-input" name="{{ question.QuestionId }}" value="{{ selection }}" data-question-id="{{ question.QuestionId }}">
                            {{ selection }}
                        </li>
                        {% endfor %}
                    </ol>
                    <small class="text-muted question-id" style="display: none;">{{ question.QuestionId }}</small>
                </div>
                {% endfor %}
            </div>

            <div class="container">
                <button id="submit-answers">채점하기</button>
                <div id="score"></div>
                <table id="answer-table">
                    <thead>
                        <tr>
                        <th>문제 번호</th>
                        <th>정답</th>
                        <th>당신의 선택</th>
                        </tr>
                    </thead>
                    <tbody id="answer-table-body">
                    </tbody>
                </table>
            </div>
        </div>

        <footer class="text-center">
            <div><small>모의고사 번호: {{ creation_time }}</small></div>
        </footer>
    </div>
{% endblock %}

{% block additional_script %}
<script src="{{ url_for('static', filename='js/questions.js') }}"></script>
{% endblock %}
