{% extends "layout.html" %}

{% block additional_css %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/questions.css') }}">
{% endblock %}

{% block body_top %}
<div id="my-img-container" class="my-img-container">
    <div class="blur-bg-image" data-bg-url="{{ url_for('static', filename='images/answer-sheet-img2.jpg') }}"></div>
    <div class="my-img-text">
        <h1 class="h1-on-img" style="text-align:center; margin-bottom: 2rem;">{{ test_level }} TOEIC Part 5 모의고사</h1>
    </div>
</div>
<script>
    // 이미지의 URL을 가져와서 CSS 스타일로 적용합니다.
    var blurBgImage = document.querySelector('.blur-bg-image');
    var bgUrl = blurBgImage.getAttribute('data-bg-url');
    blurBgImage.style.backgroundImage = "url('" + bgUrl + "')";
</script>
{% endblock %}

{% block content %}
    <div class="container" id="p5-questions-test">
        <div class="container container-info">
            <p class="p-guide-text">이 모의고사는 각각의 문제를 풀고 바로 채점 결과를 확인할 수 있을 뿐만 아니라, 하단에는 모의고사를 모두 채점한 후 해설지도 함께 확인할 수 있는 기능을 제공합니다. 토익 파트 5 문제를 풀 때는 12분이 가장 적절한 시간입니다. 이를 초과하지 않도록 주의해주세요. 우측 상단의 타이머를 활용하면 효과적으로 시간을 관리하면서 문제를 풀 수 있습니다. 문제 풀이를 마치신 후에는 반드시 해설지를 확인하시어 자신의 오답을 이해하고, 향후 성능 개선에 도움이 되도록 하세요. 충분히 시간을 두고 신중하게 문제를 풀어보세요!</p>
        </div>
    
        <!-- Add this block in your HTML body where you want the timer to appear -->
        <div id="timer-container">
            <div id="timer-display">00:00:000</div>
            <button id="start-timer-btn" class="icon-button">
                <i class="fas fa-play"></i>
            </button>
            <button id="end-timer-btn" class="icon-button" style="display: none;">
                <i class="fas fa-stop"></i>
            </button>
            <button id="reset-timer-btn" class="icon-button" style="display: none;">
                <i class="fas fa-redo"></i>
            </button>
            <button id="toggle-timer-btn" class="icon-button">
                <i id="toggle-timer-icon" class="fas fa-eye"></i>
            </button>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <!-- Render the left column questions -->
                <!-- Render the left column questions -->
                {% for question, choice in zip(questions_left, choices_left) %}
                <div class="question-container">
                    <p><strong><span class="question-number">{{ loop.index + 100 }}</span>. {{ question.QuestionText }}</strong></p>
                    <ol type="A">
                        {% for selection in choice["Choices"] %}
                        <li>
                            <input type="radio" class="answer-input" name="{{ question.QuestionId }}" value="{{ selection }}" data-question-id="{{ question.QuestionId }}">
                            {{ selection }}
                        </li>
                        {% endfor %}
                    </ol>
                    <small class="text-muted question-id" style="display: none;">{{ question.QuestionId }}</small>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <!-- Render the right column questions -->
                {% for question, choice in zip(questions_right, choices_right) %}
                <div class="question-container">
                    <p><strong><span class="question-number">{{ loop.index + 115 }}</span>. {{ question.QuestionText }}</strong></p>
                    <ol type="A">
                        {% for selection in choice["Choices"] %}
                        <li>
                            <input type="radio" class="answer-input" name="{{ question.QuestionId }}" value="{{ selection }}" data-question-id="{{ question.QuestionId }}">
                            {{ selection }}
                        </li>
                        {% endfor %}
                    </ol>
                    <small class="text-muted question-id" style="display: none;">{{ question.QuestionId }}</small>
                </div>
                {% endfor %}
            </div>
            <div class="container container-info">
                <p class="p-guide-text">모의고사를 모두 풀고 채점을 완료하셨나요? 잘 하셨습니다! 이제 각 문제에 대한 해설지를 확인하여 보세요. 해설지를 통해 잘못 선택한 문제에 대한 정확한 이해와, 어려운 단어에 대한 이해를 돕는 설명을 찾아볼 수 있습니다. 이를 통해 다음 모의고사에 더 잘 준비하고 향상된 점수를 얻으실 수 있습니다. 화이팅!</p>
            </div>
            <div class="container">
                <button id="submit-answers">채점하기</button>
                <a id="show-explanations" class="explanation-button" style="display: none;" href="#" target="_blank">해설지 보기</a>
                <div id="score"></div>
                <table id="answer-table">
                    <thead>
                        <tr>
                        <th>문제 번호</th>
                        <th>당신의 선택</th>
                        <th>정답</th>
                        </tr>
                    </thead>
                    <tbody id="answer-table-body">
                    </tbody>
                </table>
            </div>
        </div>

        <footer class="text-center">
            <div><small>모의고사 번호: {{ creation_time }}</small></div>
        </footer>
    </div>
{% endblock %}

{% block additional_script %}
<script src="{{ url_for('static', filename='js/questions.js') }}"></script>
{% endblock %}
