<!DOCTYPE html>
<html>
<head>
    <title>{{ test_level }} 모두의 토익</title>
    <style>
        .container-test {
          max-width: 800px;
          margin: 0 auto;
        }

        .row {
          display: flex;
          flex-wrap: wrap;
        }

        .col {
          flex: 50%;
          box-sizing: border-box;
          padding: 0 10px;
        }

        .question-container {
          text-align: left;
        }

        .text-muted {
          text-align: right;
        }

        .text-center {
          text-align: center;
        }
    </style>
</head>
<body>
    <h2 class="text-center">{{ test_level }} TOEIC Part 5 모의고사</h2>
    <small class="text-center">시험지 번호: {{ creation_time }}</small>
    <div class="container-test">
        <div class="row">
            {% for question, choice in zip(questions, choices) %}
            <div class="col">
                <div class="question-container">
                    <p><strong>{{ loop.index + 100 }}. {{ question.QuestionText }}</strong></p>
                    <ol type="A">
                        {% for selection in choice["Choices"] %}
                        <li>{{ selection }}</li>
                        {% endfor %}
                    </ol>
                </div>
                <small class="text-muted">ID: {{ question.QuestionId }}</small>
                {% if loop.index % 15 == 0 %}
                </div><div class="col">
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <footer class="text-center">
            <small>&copy; toeic4all - Created at {{ creation_time }}</small>
            <small class="text-center">All rights reserved by toeic4all. Unauthorized distribution is strictly prohibited.</small>
        </footer>
    </div>
</body>
</html>
